<!DOCTYPE html>
<link rel="stylesheet" href="../static/css/index.css">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<main>

  <div id="login">
    <div id="user">
      <form id="user-data" action="/enter">
        <input type="text" placeholder="Логин" class="data-field" name="login">
        <input type="password" placeholder="Пароль" class="data-field" name="password">
        <input type="submit" value="Войти" id="enter">
      </form>
    </div>
    <p class="register small-text">У вас ещё нет аккаунта? <a href="/register">Зарегистрироваться</a></p>
    <p class="wrong">Неправильный логин или пароль!</p>
  </div>
</main>

</body>
</html>